@model PagingList<Category>
@{
    ViewData["Title"] = "ประเภทสินค้า";
}
@if (TempData["feedback"] != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>@TempData["feedback"]</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<div class="d-flex justify-content-between mb-2">
    <form method="get" class="form-inline">
        <input type="text" class="form-control" value="@Model.RouteValue["filter"]" name="filter" />
        <button type="submit" class="btn btn-success ml-2">ค้นหา</button>
    </form>
    <a class="btn btn-primary" asp-action="CreateCategory">
        เพิ่มข้อมูลประเภทสินค้า
    </a>
</div>
<div class="text-center">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(model => model.CategoryId, "CategoryId")
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.CategoryName, "CategoryName")
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsActive)
                </th>
                <th>
                    เครื่องมือ
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.CategoryId
                    </td>
                    <td>
                        @item.CategoryName
                    </td>
                    <td>
                        <input class="form-check-input" type="checkbox" asp-for="@item.IsActive" disabled>
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-action="DeleteCategory" asp-route-id="@item.CategoryId" onclick="return confirm('แน่ใจว่าต้องการลบข้อมูลนี้ @item.CategoryName ?'); ">ลบ</a>
                        <a class="btn btn-info" asp-action="UpdateCategory" asp-route-id="@item.CategoryId">แก้ไข</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<nav aria-label="Products navigation example">
    <vc:pager paging-list="@Model" />
</nav>
<div class="text-left">
    <h5>จำนวนประเภทสินค้าที่มีทั้งหมด : @Model.TotalRecordCount</h5>
</div>
